* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
}

body {
  color: #293264;
  font-size: 16px;
  background-color: #F5F7FB;
}

.wrapper {
  padding: 2em;
}

/* 
.start-screen {
  display: none;
  flex-direction: column;
  background-color: #F5F7FB; 
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

/* 
.main-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.sub-title {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  color: #293264;
}

.start-quiz-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  max-width: 100%;
  border: none;
  border-radius: 15px;
  padding: .7em 3em;
}


.blob1 {
position: absolute;
width: 2000px;
height: 235px;
left: -930px;
top: 609px;

}

.blob2 {
position: absolute;
width: 500px;
height: 500px;
left: 400px;
top: -350px;
transform: rotate(-100.49deg);

} */

